.headLineP {
    margin-top:50px;
    color: blue;
    font-size: 20px;
    padding: 30px;
    text-align: center;
    background: url('../../../images/recykling.png') no-repeat;
    background-position: left;
    height:270px;
}