.searchBarDiv {
    text-align: center;
    box-sizing: border-box;
}
.searchBarP{
    color:green;
    margin:30px;
    font-size:50px;
    text-align: center;
}
.searchBarInput{
    width:500px;
    height:40px;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;

}
.searchBarPToo{
    color:green;
    margin:30px;
    font-size:50px;
    text-align: center;
}