.colorOfBaskets{
    margin-top:40px;
    display: flex;
    justify-content: center;
    transition-duration:4s;
    box-sizing: border-box;
}
.colorOfBaskets p {
    padding:10px;
    height:40px;
}
.colorOfBaskets img {
    margin:auto;
}
.papier {
   width:200px;
   height:200px;
}
.bio{
    width:200px;
    height:200px;
}
.zmieszane{
    width:200px;
    height:200px;
}
.szklo{
    width:200px;
    height:200px;
}
.metale{
    width:200px;
    height:200px;
}
.zielone{
    width:200px;
    height:200px;
}
.wielkogabarytowe{
    width:200px;
    height:200px;
}

img {
    margin-top:20px;
}