.TrashListDiv {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 650px;
    background: #efefef;
    border: 2px solid #ccc;

}
.TrashListLi{
    color: green;
    text-align: justify;

}
.TrashListImg{
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin: 10px;
}

.TrashList {
    display: flex;
    justify-items: center;
    justify-content: space-around;
}


